*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: var(--muted-foreground);
    color: var(--foreground);
    z-index: 11;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.3s ease;
        backdrop-filter: blur(80px);
        &.scrolled{
            opacity: 0;
            z-index: -2;
        }
    }
}


nav{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.5;
    }
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}   


li{
    &:first-child{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        & > input{
            width: 250px;
            height: 40px;
            border-radius: 5px;
            padding: 10px;
            padding-right: 40px;
            border: 1px solid var(--border);
            color: var(--primary);
            outline: none;
        }
        & > svg{
            position: absolute;
            right: 2%;
            stroke: var(--primary);
            
        }
    }
}


.showPrice{
    display: flex;
    align-items: center;
    gap: 10px;
}

.range-value{
    font-size: 1.2rem;
    text-wrap: nowrap;
}

.cart{
    display: none;
    z-index: 9999;

}

.openCart {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    height: max-content;
    background-color: var(--foreground);
    color: var(--muted-foreground);
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
        scale: 0.98;
    }
}

select{
    width: max-content;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    color: var(--muted);
    outline: none; 
    color: var(--primary);

    & > option{
        color: var(--primary);
    }
}

button{
    width: max-content;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--muted-foreground);
    color: var(--foreground);
    outline: none; 
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;

    &:hover{
        background-color: var(--primary);
    }
}

.goToCart{
    width: max-content;
    background-color: var(--muted-foreground);
    color: var(--foreground);
    padding: 12px;
    border-radius: 5px;

    &:hover{
        background-color: var(--primary);
        text-decoration: none;
    }
}

.headerAsideCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .closeCart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--muted-foreground);


}

main{
     padding: 0px 20px;
}
img {
    width: 200px;
    height: 200px;
}

.gridProducts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    text-wrap: pretty;
    gap: 30px;
    transition: all 0.3s ease;
    background-color: var(--background);
    box-shadow: 0 0 10px var(--secondary);
    &:hover{
        scale: 1.005;
        box-shadow: 0 0 10px var(--secondary);
        
    }

}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > p{
        font-weight: 500;
    }
}



.open {
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;
    background-color: var(--background);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    animation: openCart 0.5s ease forwards;

    & > p {
        position: absolute;
        inset: 30%;
        width: 100%;
    }
}


/* Carrousel */

.carrousel {
    width: 100%;
    height: auto;
    margin: 75px 10px  0px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--foreground);

    & ul {
        display: flex;
        padding: 0;
        animation: slide 20s infinite alternate ease-in-out;
        width: 800%; 
    }


    & li {
        width: 100%;
        position: relative;
    }


    & img {
        width: 720px;
        height: 720px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}



@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@keyframes openCart {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


